extends ../layout

block content
	.container
		.row
			form.form-horizontal(method="post", action="/admin/share/new")
				input(type="hidden", name="share[_id]", value="#{share._id}")
				.form-group
					label.col-sm-2.control-label(for="inputTitle") 分享标题
					.col-sm-10
						input#inputTitle.form-control(type="text", name="share[title]", value="#{share.title}")
				.form-group
					label.col-sm-2.control-label(for="inputAuthor") 分享作者
					.col-sm-10
						input#inputAuthor.form-control(type="text", name="share[author]", value="#{share.author}")
				.form-group
					label.col-sm-2.control-label(for="inputLink") 文章链接
					.col-sm-10
						input#inputLink.form-control(type="text", name="share[link]", value="#{share.link}")
				.form-group
					label.col-sm-2.control-label(for="inputDate") 分享日期
					.col-sm-10
						input#inputDate.form-control(type="date", name="share[date]", value="#{moment(share.date).format('YYYY-MM-DD')}")

				.form-group
					label.col-sm-2.control-label(for="inputSummary") 分享简介
					.col-sm-10
						textarea#inputSummary.form-control(type="text", name="share[summary]", rows="10") #{share.summary}
				.form-group
					.col-sm-offset-2.col-sm-10
						button.btn.btn-default(type="submit") 录入

